<!DOCTYPE html>
<html>
<head>
  <title>Exception Logger</title>
   <%= stylesheet_link_tag "exception_logger/application", "data-turbo-track": "reload" %>
  <%#= javascript_include_tag "exception_logger/application", "data-turbo-track": "reload", type: "module" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>